<div class="flex-shrink-0 p-3 mt-0" style="width: 280px;">
    <input class="form-control mb-2" placeholder="Buscar">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center">
          &nbsp; Dashboard
        </button>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#onboarding" aria-expanded="false" icon="true">
          Onboard e Monitoração
        </button>
        <div class="collapse" id="onboarding">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Onboard</a></li>
            <li><a href="#" class="link-dark rounded">Autorização Cielo</a></li>
            <li><a href="#" class="link-dark rounded">Monitoração</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#clientes" aria-expanded="false" icon="true">
          Clientes
        </button>
        <div class="collapse" id="clientes">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a routerLink="/clientes" class="link-dark rounded">Listar</a></li>
            <li><a routerLink="/clientes/novo" class="link-dark rounded">Novo</a></li>
            <li><a routerLink="/clientes/conectores" class="link-dark rounded">Conectores</a></li>
            <li><a href="#" class="link-dark rounded">Pagador</a></li>
            <li><a href="#" class="link-dark rounded">Grupos Econômicos</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#provedores" aria-expanded="false" icon="true">
          Provedores
        </button>
        <div class="collapse" id="provedores">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Listar</a></li>
            <li><a href="#" class="link-dark rounded">Novo</a></li>
            <li><a href="#" class="link-dark rounded">Mapeamento</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#agregadores" aria-expanded="false" icon="true">
          Agregadores
        </button>
        <div class="collapse" id="agregadores">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Listar</a></li>
            <li><a href="#" class="link-dark rounded">Novo Agregador</a></li>
            <li><a href="#" class="link-dark rounded">Listar Usuários</a></li>
            <li><a href="#" class="link-dark rounded">Novo Usuário Agregador</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#bilhetagem" aria-expanded="false" icon="true">
          Bilhetagem
        </button>
        <div class="collapse" id="bilhetagem">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Listar</a></li>
            <li><a href="#" class="link-dark rounded">Nova Bilhetagem</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#usuarios" aria-expanded="false" icon="true">
          Usuários
        </button>
        <div class="collapse" id="usuarios">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Listar</a></li>
            <li><a href="#" class="link-dark rounded">Novo</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#monitoramento" aria-expanded="false" icon="true">
          Monitoramento de Extratos
        </button>
        <div class="collapse" id="monitoramento">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Resumo</a></li>
            <li><a href="#" class="link-dark rounded">Detalhes</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#bins" aria-expanded="false" icon="true">
          Bins
        </button>
        <div class="collapse" id="bins">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Consultar</a></li>
            <li><a href="#" class="link-dark rounded">Efetividade</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#arquivos" aria-expanded="false" icon="true"> 
          Arquivos
        </button>
        <div class="collapse" id="arquivos">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Caminhos</a></li>
            <li><a href="#" class="link-dark rounded">Status Processamento</a></li>
            <li><a href="#" class="link-dark rounded">Upload</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#documentacao" aria-expanded="false"  icon="true">
          Documentação
        </button>
        <div class="collapse" id="documentacao">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Listar</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center">
          &nbsp; Monitora Infra
        </button>
      </li>
    </ul>
  </div>