#master-content {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header"
  "aside main main"
  "footer footer footer";
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr auto;  
  background-color: #f8f8f8;

  --vooo-border-color: #e7e7e7;
}

.t-header {
  grid-area: header;
  border-bottom: 1px solid var(--vooo-border-color);
}

.t-aside {
  grid-area: aside;
  border-right: 1px solid var(--vooo-border-color);
}

.t-main {
  grid-area: main;
  background-color: white;
  padding: 1em;
}

.t-footer {
  grid-area: footer;
  background-color:#f0f0f0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.6em;
  border-top: 1px solid var(--vooo-border-color);
}
